body {
    background: rgb(4, 10, 56);
    color: #eee8e3;
    padding: 1rem;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.new-note-form {
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
}

.new-note-form input:focus {
    border: 2px solid hsl(200, 100%, 70%);
}

.new-note-form input {
    border: 2px solid hsl(200, 100%, 70%);
    border-radius: 0.3em;
    outline: none;
    background: hsl(200, 30%, 50%);
    padding: 0.3em 0.5em;
    color: hsl(200, 24%, 93%);
}

.form-row {
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.list {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.list li label {
    gap: 0.3rem;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.list li input {
    outline: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
}

.list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 80%);
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.list li label:hover::before {
    background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label {
    color: hsl(200, 30%, 50%);
}

.list li label:hover::before {
    background: hsl(200, 100%, 50%);
}

/* .list li:has(input:checked) label:hover::before{
    background: hsl(200, 100%, 50%);
} */

.list li:has(input:checked) label::before {
    color: hsl(200, 30%, 50%);
    background: hsl(35, 100%, 50%);
    content: "\2713";
    font-size: 0.8rem;
    font-weight: bold;
}

.list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
}

.btn {
    background: hsl(200, 100%, 50%, 0.2);
    border: 1px, solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn:hover, .btn:focus-visible {
    background-color: hsl(200, 100%, 50%, 0.3);
}

.btn.btn-danger {
    border: 2px solid hsl(0, 100%, 50%);
    color: hsl(0, 100%, 50%);
    background: hsl(0, 100%, 40%, 0.4);
}

.btn.btn-danger:hover, .btn.btn-danger:focus-visible {
    background: hsla(0, 14%, 4%, 0.4);
}

